@import url('http://fonts.googleapis.com/css?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --cl-black: #1c1c1c;
    --cl-gray: #ececec;
    --cl-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--cl-black);
}

ul{
    list-style: none;
}

button{
    background-color: transparent !important;
    border: 0;
    border-radius: 0;
}